.contact-sec{
  display: grid;
  grid-template-areas:
    'email-box email-box linkedin-box linkedin-box'
    'email-box email-box linkedin-box linkedin-box'
    'github-box github-box linkedin-box linkedin-box'
    'github-box github-box linkedin-box linkedin-box';
    gap: 1rem;
    min-height: 300px;
  >div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--white-08);
    background-color: var(--white-09);
    color: var(--black);
    align-self: stretch;
    >h2{
      margin-top: 1rem;
    }
    &:hover{
      background-color: var(--white-08);
      transition: background-color 0.3s ease-in-out;
    }

  }
}

.email-box{
  grid-area: email-box;
  >span:hover{
    opacity: 0.8;
  }
}
.linkedin-box{
  grid-area: linkedin-box;
}
.github-box{
  grid-area: github-box;
}

.contact-h1 {
  color: var(--black);
  width: 100%;
  font-size: 3.5rem;
  line-height: 100%;
  font-family: var(--primary-font);
  -webkit-user-select: none;
  user-select: none;
}

.square-cta{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  font-weight: 600;
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid var(--white-08);
}

.sm-links{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}