@media screen and (width < 1260px) {
    .container{
        max-width: 72vw;
    }
}

@media screen and (max-width: 1024px) {
    .name{
        font-size: 7.4vw;
    }
}
@media screen and (max-width: 900px) {
    
    .tag{
        font-size: 12px;
    }
    .tags{
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 720px) {
    .container{
        max-width: 100%;
        padding-left: 22px;
        padding-right: 22px;
    }
    .tab-bar{
        bottom: 1rem;
        top: auto;
        gap:0
    }
}
@media screen and (max-width: 530px) {
    .name{
        font-size: 28px;
    }
    .infocontainer{
        gap: 1.4rem;
    }
}
