
.container {
  color: var(--black);
  max-width: 56vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20vh 0;
  display: grid;
  row-gap: 4rem;
}
.infocontainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

h1.proj-h1{
  color: var(--black);
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  user-select: none;
}