.infocontainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 10px;
}

h1.proj-h1{
  color: var(--black);
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  user-select: none;
}